<link rel="stylesheet" type="text/css" href="/css/footer.css"/>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <a href="index.html" class="effect footer-title">BRENDAN BECK</a>
            <div class="footer-strengths">COMPETITION | WOO | STRATEGIC | COMMAND | ACTIVATOR</div>
            <div class="footer-social">
                <ul class="footer-social-list">
                    <li><a href="https://www.linkedin.com/in/brendan-beck/" target="_blank" class="effect"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:brendan.beck62@gmail.com" class="effect"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.instagram.com/chinmusic62/" target="_blank" class="effect"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/brendanbeck62" target="_blank" class="effect"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/brendanbeck62?tab=repositories" target="_blank" class="effect"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <p class="copy-text">BRENDAN BECK &copy; 2020. ALL RIGHTS RESERVED</p>
        </div> <!-- end row -->
    </div> <!-- End Container -->
</footer>
