<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
<header class="nav-wrapper effect">
    <nav class="navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bm-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img class="navbar-brand effect" src="img/BB-Logo.png" alt="BrendanBeckLogo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bm-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="scroll underlineable effect active" data-speed="800">HOME</a></li>
                    <li><a href="#about" class="scroll underlineable effect" data-speed="800">ABOUT</a></li>
                    <li><a href="#resume" class="scroll underlineable effect" data-speed="800">EXPERIENCE</a></li>
                    <li><a href="documents/Brendan-Beck-Resume.pdf" class="navbar-resume-btn" target="_blank">RESUME</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
