.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #f1f1f1;
}
.footer-title {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #111;
}
.footer-strengths {
    font-size: .9rem;
    letter-spacing: 2px;
}
.footer-social {
    margin: 6px 0;
}
.footer-social-list li {
    display: inline-block;
    margin: 0 9px;
}
.footer-social-list li a {
    font-size: 1rem;
    color: #434343;
}
.footer-social-list li a:hover {
    color: #111;
}
.footer .copy-text {
    margin: 6px 0;
    font-size: .75rem;
}
