/*----------------------------------------
Home
----------------------------------------*/
.home {
    background-color: #fff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px;
    position: relative;
}
.main-landing {
    text-align: left;
}
.main-landing>h6 {
    margin-left: 10px;
    font-size: 16px;
}

#type-text {
    font-size: 80px;
    color:#000;
    line-height: 80px;
}
.typer-h1 {
    font-size: 80px;
}
.typer-h2 {
    font-size: 50px;
    line-height: 20px;
    color: #444;
    margin-bottom: 10px;
}

.hide{/* used for hiding the resume btn*/
    display:none;
}
.show{/* used for hiding the resume btn*/
    display:block;
}
#resume-btn {
    position: relative;
    display: inline-block;
    /* transform: translate(-50%, -50%); */
    width: 150px;
    margin-top: 30px;
    background-color: transparent;
    color: #000;
    line-height: 14px;
    font-size: 14px;
    padding: 20px 28px; /* sets the height and width of the button */
    border: 1px solid #000; 
    cursor: pointer;
    /*border-radius: 2px;*/ /*how round the corners are */
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
}
#resume-btn:hover {
    background-color: #000;
    color: #fff;
}

.home .social-sidebar-group {
    position: fixed;
    top: 65%;
    left: 25px;
    width: 40px;
    height: 40px;
    color: #444;
    font-size: 24px;
}
.home .social-sidebar-group::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: #aaa;
    margin: 0px 11px;
}


.home .social-sidebar-item {
    margin-bottom: 25px;
    transition: color 0.3s, transform 0.3s;
}
.home .social-sidebar-item:hover {
    color: red;
    transform: translate(0px, -5px);
}


/*----------------------------------------
About
----------------------------------------*/
.about {
    min-height: 50%;
    position: relative;
}

/*----------------------------------------
Projects
----------------------------------------*/
.projects {
    min-height: 50%;
    position: relative;
}
.project-content-item {
    display: grid;
    align-items: center;
    min-height:400px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    grid-gap: 10px;
    padding-bottom: 50px;
}

.project-content-item > .half {
    position: relative;
    display: block;
    padding: 20px;
}
.project-content-item > .image-unverted {
    background-color: blue;
    grid-column-end: 1;
    grid-column-start: 8;
    grid-row: 1 / -1;
    height: 100%;
  }
.project-content-item > .text-unverted {
    background-color: black;
    grid-column-end: -1;
    grid-column-start: 7;
    grid-row: 1 / -1;
    height: 80%;
    z-index: 1;
  }

.project-content-item > .image-inverted {
    background-color: blue;
    grid-column-end: -1;
    grid-column-start: 7;
    grid-row: 1 / -1;
    height: 100%;
  }
.project-content-item > .text-inverted {
    background-color: black;
    grid-column-end: 1;
    grid-column-start: 8;
    grid-row: 1 / -1;
    height: 80%;
    z-index: 1;
  }


/*----------------------------------------
More Projects
----------------------------------------*/
.more-projects {
    min-height: 50%;
    position: relative;
    /* margin: 0 50px; */
}
.more-project-card-group {
    margin: 40px 0px;
}
.more-project-card-group .col-sm-6,
.more-project-card-group .col-lg-4 {
    /* background-color: #fafafa; */
    background-clip: content-box;
    padding: 5px;
}
.more-project-card {
    border: 1px solid #333;
    padding: 20px;
    min-height: 250px;
    transition: transform 0.3s;
}
.more-project-card:hover {
    transform: translate(0px, -5px);
}

.more-project-card > .card-header {
    padding: 10px 0px;
}

.more-project-card > .card-header > .right {
    float:right;
}
.more-project-card > .card-header > .icon {
    padding: 0px 5px;
    font-size: 30px;
}
.more-project-card > .card-header > h6 {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .home {
        min-height: 550px;
    }
    #home h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .home .social-sidebar-group {
        visibility: hidden;
    }
}