/*----------------------------------------
Home
----------------------------------------*/
.home {
    background-color: #fff;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px;
    position: relative;
}
.main-landing {
    text-align: left;
}
.main-landing>h6 {
    margin-left: 10px;
    
}

#type-text {
    font-size: 80px;
    color:#000;
    line-height: 80px;
}
.typer-h1 {
    font-size: 80px;
}
.typer-h2 {
    font-size: 50px;
    line-height: 20px;
    color: #444;
    margin-bottom: 10px;
}

.hide{/* used for hiding the resume btn*/
    display:none;
}
.show{/* used for hiding the resume btn*/
    display:block;
}
#resume-btn {
    position: relative;
    display: inline-block;
    /* transform: translate(-50%, -50%); */
    width: 150px;
    margin-top: 30px;
    background-color: transparent;
    color: #000;
    line-height: 14px;
    font-size: 14px;
    padding: 20px 28px; /* sets the height and width of the button */
    border: 1px solid #000; 
    cursor: pointer;
    /*border-radius: 2px;*/ /*how round the corners are */
    text-align: center;
    transition: color 0.3s linear, background-color 0.3s linear;
}
#resume-btn:hover {
    background-color: #000;
    color: #fff;
}

.home .social-sidebar-group {
    position: absolute; /* might change to fixed so it stays there all the time */
    top: 30%;
    left: 25px;
    width: 40px;
    height: 40px;
    color: #444;
    font-size: 24px;
}
.home .social-sidebar-item {
    margin-bottom: 25px;
    transition: color 0.3s linear;
}
.home .social-sidebar-item:hover {
    color: #000;
}


/*----------------------------------------
My Work
----------------------------------------*/
.projects {
    min-height: 50%;
    /* background-color: #000; */
    position: relative;
}

.project-content-group {
    margin: 40px 0px;
}

.project-content-group .col-sm-4 {
    background-color: #ccc;
    background-clip: content-box;
    padding-bottom: 15px;
}

.project-content {
    padding: 20px;
}


@media screen and (max-width: 768px) {
    .home {
        min-height: 550px;
    }
    #home h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .home .social-sidebar-group {
        visibility: hidden;
    }
}