
/*----------------------------------------
Navigation
----------------------------------------*/
.container {
    width: 100%;
}
.nav-wrapper {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff !important;
    z-index: 20;
    border-bottom: 1px solid #000;
}
.nav-wrapper .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar {
    margin: 0px;
}

.nav-wrapper .navbar-brand { /* left side text */
    display: block;
    padding: 10px;
    color: #000;
    float: left;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: red !important;
}

.nav-wrapper .navbar-right {/* right side box */
    margin-right: -20px;
}
.nav-wrapper .navbar-right li a { /* right side individual */
    position: relative;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
}

.navbar-resume-btn {
    color: white !important;
    background-color: black !important;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.navbar-resume-btn:hover {
    background-color: red !important;
}


.nav-wrapper .nav .underlineable:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 6px;
    left: 10%;
    background-color: #000;
    -webkit-transition: all .28s ease-in-out;
    -o-transition: all .28s ease-in-out;
    -moz-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
}
.nav-wrapper .nav .underlineable:hover,
.nav-wrapper .nav .underlineable .active { /* controls the current active as well as the hovered section*/
    background-color: transparent;
}
.nav-wrapper .nav>li>a:hover:after,
.nav-wrapper .nav>li>a.active:after {
    width: 80%;
}
.nav-wrapper .nav>li>a:focus {
    background-color: transparent;
}
.nav-sticky {
    background-color: #fff !important;
    padding: 6px 0 !important;
    border-bottom: 1px solid #000;
}
.nav-sticky .navbar-toggle .icon-bar {
    background-color: #000;
}
.nav-sticky .navbar-brand,
.nav-sticky .nav li a {
    color: #000;
}
.nav-sticky .nav li a:after {
    background-color: #000;
}
.nav-sticky .navbar-collapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}