<div class="social-sidebar-group">
  <div class="social-sidebar-item">
    <a href="https://www.linkedin.com/in/brendan-beck/" target="_blank">
    <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div class="social-sidebar-item">
    <a href="mailto:brendan.beck62@gmail.com">
    <i class="fa fa-envelope"></i>
    </a>
  </div>
  <div class="social-sidebar-item">
    <a href="https://www.instagram.com/brendanbeck62/" target="_blank">
    <i class="fa fa-instagram"></i>
    </a>
  </div>
  <div class="social-sidebar-item">
    <a href="https://twitter.com/brendanbeck62" target="_blank">
    <i class="fa fa-twitter"></i>
    </a>
  </div>
  <div class="social-sidebar-item">
    <a href="https://github.com/brendanbeck62?tab=repositories" target="_blank">
    <i class="fa fa-github"></i>
    </a>
  </div>
</div>
<div class="darkmode-toggle-group">
    <!-- Dark mode toggle -->
    <div class="darkmode-toggle-item">
      <button id="theme_toggler">
        <div class="moon moon-logo">
          <i class="fas fa-moon"></i>
        </div>
        <div class="sun sun-logo">
          <i class="fas fa-sun"></i>
        </div>
      </button>
    </div>
</div>