<html>
<head>
    <title>404 | Brendan Beck</title>

    <%- include ('../partials/includes.ejs') %>
</head>

<body>
    <%- include ('../partials/navbar.ejs') %>
    <section id="home" class="home section">
        <div class="page-table">
            <div class="table-cell text-center">
                <h1>PAGE NOT FOUND</h1>
            </div>
        </div>
    </section>


    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/includesjs.ejs') %>
</body>
</html>
