<html>

<head>

  <%- include ('../partials/includes.ejs') %>

  <link rel="stylesheet" href="css/animate.min.css">

  <link rel="stylesheet" type="text/css" href="css/gallery.css" />

</head>

<body>
  <%- include ('../partials/navbar.ejs') %>
  <!-- <section id="gallery-landing" class="gallery-landing section">
    <div class="text-center">
      <div class="section-title">
        <h2>Gallery</h2>
      </div>
      <p>Some words about the stuff thats in the gallery</p>
    </div>
  </section> -->

  <section id="gallery" class="gallery section">
    <div class="container">
      <div class="portfolio-wrapper">
        <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
          <h2 class="mr-auto"><span class="gsap-reveal">Portfolio</span></h2>

          <!-- TODO: the "filter" should only appear when folded idk where that code went -->
          <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
          <div class="filter-wrap">
            <div class="filter ml-auto" id="filters">
              <a href="#" class="active" data-filter="*">All</a>
              <a href="#" data-filter=".web">Web</a>
              <a href="#" data-filter=".branding">Branding</a>
              <a href="#" data-filter=".illustration">Illustration</a>
              <a href="#" data-filter=".packaging">Packaging</a>
            </div>
          </div>
        </div>

        <div id="posts" class="row">

          <div class="item branding packaging col-sm-6 col-md-6 col-lg-4">
            <a href="img/gallery/glass_planet_vector.jpg" class="portfolio-item gsap-reveal-img">
              <div class="overlay">
                <span class="wrap-icon icon-photo2"></span>
                <div class="portfolio-item-content">
                  <h3>Modern Building</h3>
                  <p>branding, packaging</p>
                </div>
              </div>
              <img src="img/gallery/glass_planet_vector.jpg" class="lazyload img-fluid" alt="Images" />
            </a>
          </div>

          <div class="item web illustration col-sm-6 col-md-6 col-lg-4">
            <a href="img/gallery/dark_joker_crazyface.jpg" class="portfolio-item gsap-reveal-img">
              <div class="overlay">
                <span class="wrap-icon icon-photo2"></span>
                <div class="portfolio-item-content">
                  <h3>Render Packaging</h3>
                  <p>web, illustration</p>
                </div>
              </div>
              <img src="img/gallery/dark_joker_crazyface.jpg" class="lazyload img-fluid" alt="Images" />
            </a>
          </div>

          <div class="item web illustration col-sm-6 col-md-6 col-lg-4">
            <a href="img/gallery/littlespaceman.jpg" class="portfolio-item gsap-reveal-img">
              <div class="overlay">
                <span class="wrap-icon icon-photo2"></span>
                <div class="portfolio-item-content">
                  <h3>Render Packaging</h3>
                  <p>web, illustration</p>
                </div>
              </div>
              <img src="img/gallery/littlespaceman.jpg" class="lazyload img-fluid" alt="Images" />
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>



  <%- include ('../partials/footer.ejs') %>
  <%- include ('../partials/includesjs.ejs') %>

  <!-- Loader -->
  <div id="site-loader-overlayer"></div>
  <div class="site-loader-wrap">
    <div class="site-loader"></div>
  </div>


  <script src="js/gallery-scripts-dist.js"></script>
  <script src="js/gallery.js"></script>
</body>

</html>