<html>

<head>

  <%- include ('../partials/includes.ejs') %>
z
  <link rel="stylesheet" type="text/css" href="css/gallery.css" />

</head>

<body>
  <%- include ('../partials/navbar.ejs') %>
  <section id="gallery" class="gallery section">

    <div class="text-center">
      <div class="section-title">
        <h2>Gallery</h2>
      </div>
      <p>Some words about the stuff thats in the gallery</p>
    </div>

    <div class="gallery-row">
      <div class="gallery-column">
        <img src="img/gallery/kids_see_ghosts.jpg" alt="...">
        <img src="img/gallery/glass_planet_vector.jpg" alt="...">
      </div>
      <div class="gallery-column">
        <img src="img/gallery/dark_joker_crazyface.jpg" alt="...">
        <img src="img/gallery/littlespsaceman.jpg" alt="...">
      </div>
      <div class="gallery-column">
        <img src="img/gallery/kids_see_ghosts.jpg" alt="...">
        <img src="img/gallery/glass_planet_vector.jpg" alt="...">
      </div>
      <div class="gallery-column">
        <img src="img/gallery/dark_joker_crazyface.jpg" alt="...">
        <img src="img/gallery/littlespsaceman.jpg" alt="...">
      </div>
    </div>
  </section>


  <%- include ('../partials/footer.ejs') %>
  <%- include ('../partials/includesjs.ejs') %>

</body>

</html>