<!DOCTYPE html>
<html>
<head>
    
  <%- include ('../partials/includes.ejs') %>

  <link rel="stylesheet" type="text/css" href="css/index.css"/>

</head>

<body>
  <%- include ('../partials/navbar.ejs') %>

  <!--HOME-->
  <!-- <section id="home" class="home parallax one-page-section"> UNHIGHLIGHT FOR PARALAX-->
  <section id="home" class="home">
      <div class="page-table">
          <div class="table-cell">
              <div class="main-landing centered-container">
                <!-- <div class="avatar-hero">
                  <img src="img/BB-Logo.png" alt="avatar-hero">
                </div> -->
                <h6>Hi, my name is</h6>
                <div id="type-text"></div>
                <a href="documents/Brendan-Beck-Resume.pdf" id="resume-btn" class="hide" target="_blank">RESUME</a>
              </div>

              <div class="social-sidebar-group">
                  <div class="social-sidebar-item">
                      <a href="https://www.linkedin.com/in/brendan-beck/" target="_blank">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="mailto:brendan.beck62@gmail.com">
                          <i class="fa fa-envelope"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://www.instagram.com/chinmusic62/" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://twitter.com/brendanbeck62" target="_blank">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://github.com/brendanbeck62?tab=repositories" target="_blank">
                          <i class="fa fa-github"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--END HOME-->
  <!--Projects-->
  <section id="projects" class="projects centered-container">
      <div class="section-title">
          <h1>TITLE</h1>
      </div>
      <div class="row project-content">
        <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
            <h6 class="mt-2 mb-3">Nunc dictum consequat</h6>
            <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
            pharetra neque et eleifend venenatis.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
            <h6 class="mt-2 mb-3">Morbi ultrices tellus</h6>
            <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
            pharetra neque et eleifend venenatis.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="mt-2 mb-3">Suspendisse dolor tortor</h6>
            <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
            pharetra neque et eleifend venenatis.</p>
        </div>
    </div>
  </section>
  <!--End Projects-->

<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/includesjs.ejs') %>

<script src="js/Typewriter.js"></script>
<script src="js/index-typer.js"></script>
<script src="js/index.js"></script>
</body>
</html>
