<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/page.css"/>
</head>

<body>
<p>this is the index</p>
<img src="/img/kerchoo.png">

<%- include ('../partials/footer.ejs') %>
</body>
</html>
