<!DOCTYPE html>
<html>
  <head>
    <title>Home | Brendan Beck</title>

    <%- include ('../partials/includes.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <!--HOME-->
    <section id="home" class="home section">
      <div class="page-table">
        <div class="table-cell">
          <div class="main-landing centered-container">
            <!-- <div class="avatar-hero">
              <img src="img/BB-Logo.png" alt="avatar-hero">
              </div> -->
            <h6>Hi, my name is</h6>
            <!-- <div id="type-text"></div> -->
            <h1>Brendan Beck</h1>
            <h2>I write code the right way.</h2>
            <a href="documents/Brendan-Beck-Resume.pdf" id="resume-btn" target="_blank">RESUME</a>

            <a href="#about" class="scroll icon-scroll" data-speed="800"></a>


          </div>
          <div class="social-sidebar-group">
            <div class="social-sidebar-item">
              <a href="https://www.linkedin.com/in/brendan-beck/" target="_blank">
              <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <div class="social-sidebar-item">
              <a href="mailto:brendan.beck62@gmail.com">
              <i class="fa fa-envelope"></i>
              </a>
            </div>
            <div class="social-sidebar-item">
              <a href="https://www.instagram.com/chinmusic62/" target="_blank">
              <i class="fa fa-instagram"></i>
              </a>
            </div>
            <div class="social-sidebar-item">
              <a href="https://twitter.com/brendanbeck62" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="social-sidebar-item">
              <a href="https://github.com/brendanbeck62?tab=repositories" target="_blank">
              <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--END HOME-->
    <!--About-->
    <section id="about" class="about section">
      <div class=container">
        <div class="row">
          <div class="section-title">
            <h2>ABOUT ME</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <ul class="info">
              <li><h6>Name:</h6> <p>Brendan Beck</p></li>
              <li><h6>Phone:</h6><p>(503)583-7964</p></li>
              <li><h6>Email:</h6><p>brendan.beck62@gmail.com</p></li>
              <li><h6>Website:</h6><p>www.brendanbeck.com</p></li>
              <li><h6>Location:</h6><p>Canby, Oregon</p></li>
            </ul>
          </div>
          <div class="col-md-8">
            <h6>Hello There!</h6>
            <p>I am a software engineer from Canby, Oregon. I grew up on a small farm, where hard work and being creative and resourceful in order to solve a problem is essential. I recently graduated from George Fox University with a B.S. in Computer Science with a concentration in Cyber Security and a minor in Digital Marketing. I'm currently looking for a software engineering position where I can demonstrate the skills I learned at one of the premier CS schools on the west coast.</p>
            <p>I am a fast-learning, personable, quick-thinking extrovert who loves to see the result of hard work. I have already had a wide range of jobs that have equipped me with the ability to learn quickly, and not be afraid to ask for help when I cannot find out the answer on my own.</p>
            <h6 class="tech-title">Technologies I have been working in:</h6>
            <div class="tech-content">
              <div class="col-md-6">
                <ul class="tech-list">
                  <li><p>Python 3 (tkinter, PyTorch, openCV)</p></li>
                  <li><p>C/C++</p></li>
                  <li><p>Typescript with Node.js, Vue, and React</p></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="tech-list">
                  <li><p>Binary Reversing (Ghidra/IDA)</p></li>
                  <li><p>JWT Authentication</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End About-->
    <!--Resume-->
    <section id="resume" class="resume centered-container section">
      <div class="container">
        <!-- <div class="row">
          <div class="section-title">
            <h2>RESUME</h2>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <ul class="timeline">
              <li class="timeline-heading text-center">
                <div>
                  <h3>Work Experience</h3>
                </div>
              </li>
              <li class="timeline-unverted">
                <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Software Engineer</h3>
                    <h6 class="timeline-subtitle">@TZ Medical w/ George Fox University</h6>
                    <span class="time-period">Fall 2019 - Spring 2020</span>
                  </div>
                  <div class="timeline-body">
                    <p>Automated the testing process of Clarus series ambulatory cardiac monitor firmware.</p>
                    <p>Led a team of Comp Sci and Comp Eng students in facilitating a full stack redesign, implementing a PY Flask backend and the Vue.js frontend.</p>
                    <p>Served as the main liaison between my team and the client (TZ).</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Web Developer & Graphic Designer</h3>
                    <h6 class="timeline-subtitle">@Canby Alliance Church</h6>
                    <span class="time-period">Summer 2018 - Current</span>
                  </div>
                  <div class="timeline-body">
                    <p>Worked closely with church staff to design, develop, and manage their website into a tool they can use for their ministry.</p>
                    <p>Refreshed branding to make it more appealing to the younger generations.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-unverted">
                <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Web Developer & Graphic Designer</h3>
                    <h6 class="timeline-subtitle">@Design Port Inc.</h6>
                    <span class="time-period">Summer 2018</span>
                  </div>
                  <div class="timeline-body">
                    <p>Acted as site admin for 5 different startups under the umbrella of Design Port.</p>
                    <p>Worked with customers to create a brand for wide range of products. Responsibilities included: Brand identity creation, Packaging design, Creating a storefront website, and Market research.</p>
                    <p>Created graphics for 3 trade shows for 4 different product lines.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Web Designer</h3>
                    <h6 class="timeline-subtitle">@George Fox University</h6>
                    <span class="time-period">Summer 2016</span>
                  </div>
                  <div class="timeline-body">
                    <p>Worked with a team of designers to create and maintaine webpages on the main George Fox University website as well as the George Fox Athletics site.</p>
                    <p>Created Graphics for the George Fox Athletics social media.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-heading text-center">
                <div>
                  <h3>Education</h3>
                </div>
              </li>
              <li class="timeline-unverted">
                <div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Bachelors Degree</h3>
                    <h6 class="timeline-subtitle">George Fox University</h6>
                    <span class="time-period">2016 - 2020</span>
                  </div>
                  <div class="timeline-body">
                    <!-- TODO: figure out how to align the major and minor words (see about me section?) -->
                    <p><strong>Major: </strong>Computer Science with an emphasis in Cyber Security.</p>
                    <!-- TODO: add major GPA as well as overall GPA -->
                    <p><strong>Minor: </strong>Marketing.</p>
                    <!-- TODO: add hyber link or remove this <p> -->
                    <p>See Relevant Courses for more detailed breakdown of my course work.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Honors Diploma</h3>
                    <h6 class="timeline-subtitle">Canby High School</h6>
                    <span class="time-period">2012 - 2016</span>
                  </div>
                  <div class="timeline-body">
                    <p>6 AP Credits (Calculus and Physics)</p>
                    <!-- TODO: represent GPA better -->
                    <p>GPA: 3.68</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--End Resume-->
    <!--Projects-->
<!--
    <section id="projects" class="projects centered-container section">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Featured Projects</h2>
          </div>
        </div>
        <div class="row">
          <div class="project-content">


            <div class="project-content-item">
              <div class="half text-unverted">
                <div class="heading">
                  <h6>Featured Project</h6>
                  <h3>Synthwave VSCode Theme</h3>
                </div>
                <div class="desc">
                  <p>A Synthwave/Retrofuturism VSCode Theme. Plan to port to Sublime and Atom soon.</p>
                </div>
                <ul class="techs">
                  <li>VSCode</li>
                </ul>
                <div class="icons">
                  <div class="icon">
                    <a href="https://github.com/brendanbeck62/Synthwave-Theme" target="_blank">
                      <i class="fab fa-github"></i></div>
                    </a>
                </div>
              </div>
              <div class="half image-unverted">
                <img src="img/synthwave-theme.png">
              </div>
            </div>


            <div class="project-content-item">
              <div class="half text-inverted">
                <div class="heading">
                  <h6>Featured Project</h6>
                  <h3>Title One</h3>
                </div>
                <div class="desc">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <ul class="techs">
                  <li>abcd.js</li>
                  <li>efgh.js</li>
                  <li>something</li>
                </ul>
                <div class="icons">
                  <div class="icon"><i class="fas fa-external-link-alt"></i></div>
                  <div class="icon"><i class="fab fa-github"></i></div>
                </div>

              </div>
              <div class="half image-inverted">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--End Projects-->
    <!--More Projects-->
    <section id="more-projects" class="more-projects centered-container section">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
      <div class="row more-project-card-group">
        <!-- Mocker -->
        <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon">
                <a href="https://github.com/brendanbeck62/mocker" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <h6>01.</h6>
            </div>
            <div class="card-content">
              <h6>Mocker</h6>
              <p> A full feature docker clone, Isolates: processes, hostnames, and filesystem.
              </p>
            </div>
          </div>
        </div>
        <!-- Huffman Compressor -->
        <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon">
                <a href="https://github.com/brendanbeck62/huffman-compression" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <h6>02.</h6>
            </div>
            <div class="card-content">
              <h6>Huffman Compressor</h6>
              <p>A super basic example of huffman compression done in python3. Compresses and decompresses using the huffman table that is generated.
              </p>
            </div>
          </div>
        </div>
        <!-- Website -->
        <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon">
                <a href="https://github.com/brendanbeck62/brendanbeckcom" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <h6>03.</h6>
            </div>
            <div class="card-content">
              <h6>This Website</h6>
              <p>This website is a dockerized node app using express and ejs.
              It has a small REST api built in, with room for scalability.
              It is deployed on AWS
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon"><i class="fas fa-external-link-alt"></i></div>
              <div class="right icon"><i class="fab fa-github"></i></div>
              <h6>04.</h6>
            </div>
            <div class="card-content">
              <h6>Nunc dictum consequat</h6>
              <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon"><i class="fas fa-external-link-alt"></i></div>
              <div class="right icon"><i class="fab fa-github"></i></div>
              <h6>05.</h6>
            </div>
            <div class="card-content">
              <h6>Nunc dictum consequat</h6>
              <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="more-project-card">
            <div class="card-header">
              <div class="right icon"><i class="fas fa-external-link-alt"></i></div>
              <div class="right icon"><i class="fab fa-github"></i></div>
              <h6>06.</h6>
            </div>
            <div class="card-content">
              <h6>Nunc dictum consequat</h6>
              <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!--End More Projects-->
    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/includesjs.ejs') %>
    <script src="js/Typewriter.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>