<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/index.css"/>
  <link href="node_modules/@fontawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">


  <%- include ('../partials/includes.ejs') %>
</head>

<body>
<%- include ('../partials/navbar.ejs') %>

  <!--HOME-->
  <section id="home" class="home parallax one-page-section">
      <div class="page-table">
          <div class="table-cell text-center">
              <div class="avatar-hero">
                  <img src="/img/BrendanBWSquare.jpg" alt="avatar-hero">
              </div>
              <h1>Hi, I'm Brendan Beck</h1>
              <a href="/documents/Brendan-Beck-Resume.pdf" class="home-resume-btn hor-center" target="_blank">Download my Resume</a>

              
              <div class="social-sidebar-group">
                  <div class="social-sidebar-item">
                      <a href="https://www.linkedin.com/in/brendan-beck/" target="_blank">
                          <i class="fas fa-linkedin"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="mailto:brendan.beck62@gmail.com">
                          <i class="fas fa-envelope"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://www.instagram.com/chinmusic62/" target="_blank">
                          <i class="fas fa-instagram"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://twitter.com/brendanbeck62" target="_blank">
                          <i class="fas fa-twitter"></i>
                      </a>
                  </div>
                  <div class="social-sidebar-item">
                      <a href="https://github.com/brendanbeck62?tab=repositories" target="_blank">
                          <i class="fas fa-github"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--END HOME-->



<%- include ('../partials/footer.ejs') %>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
