<html>
<head>

    <%- include ('../partials/includes.ejs') %>

    <link rel="stylesheet" type="text/css" href="css/test.css"/>

</head>

<body>
    <%- include ('../partials/navbar.ejs') %>
    <section id="home" class="home parallax section">
        <div class="page-table">
            <div class="table-cell text-center">
                <div id="type-text"></div>
            </div>
        </div>
    </section>


    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/includesjs.ejs') %>

    <script src="js/Typewriter.js"></script>
    <script src="js/typer.js"></script>
</body>
</html>
