<html>
<head>

    <%- include ('../partials/includes.ejs') %>
</head>

<body>
    <%- include ('../partials/navbar.ejs') %>
    <section id="home" class="home parallax one-page-section">
        <div class="page-table">
            <div class="table-cell text-center">
                <p>balls</p>
            </div>
        </div>
    </section>


    <%- include ('../partials/footer.ejs') %>
</body>
</html>
